<form [formGroup]="addressForm">
  <h2>Address Information</h2>

  <div>
    <label for="address">Address</label>
    <input type="text" name="address" formControlName="address" />
    <div>
      <label for="country">Country</label>
      <input type="text" name="country" formControlName="country" />
    </div>
  </div>
  <div>
    <label for="zip">Zip</label>
    <input type="text" name="zip" formControlName="zip" />
  </div>
  <div>
    <label for="city">City</label>
    <input type="city" name="city" formControlName="city" />
  </div>
</form>
